header,main{
    max-width: 800px;
    margin: 0 auto;
}

header a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    display: inline-block;
    padding-right: 30px;
  }

.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: transform 0.5s ease;
}

.box-hover{
    transform: scale(1.1);
}

.glass-box {
    background-color: rgba(255, 255, 255, 0.3); /* Använd rgba() för att skapa genomskinlighet */
    border-radius: 10px; /* Runda kanter med en radie på 10px */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Skugga för att ge djup */
    padding: 20px; /* Valfri utfyllnad för att ge utrymme till innehåll */
  }