header,main{
    max-width: 800px;
    margin: 0 auto;
}

header a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    display: inline-block;
    padding-right: 30px;
    transition: font-size 0.3s ease;
  }

header a:hover {
    font-size: 25px; /* Ändra textstorleken vid hover */
  }

header a.active{
    font-weight: bold; /* Gör texten fet när länken är aktiv */
}

header a.active:hover{
    font-size: 20px; /* Gör texten fet när länken är aktiv */
}

.glass-box {
    background-color: rgba(255, 255, 255, 0.123); /* Använd rgba() för att skapa genomskinlighet */
    border-radius: 10px; /* Runda kanter med en radie på 10px */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Skugga för att ge djup */
    padding: 20px; /* Valfri utfyllnad för att ge utrymme till innehåll */
  }

  .nav-box {
    background-color: rgba(255, 255, 255, 0.3); /* Använd rgba() för att skapa genomskinlighet */
    border-radius: 0px; /* Runda kanter med en radie på 10px */
    padding: 0px; /* Valfri utfyllnad för att ge utrymme till innehåll */
    justify-content: baseline;
  }

  body {
    background: linear-gradient(to bottom, #f3f3f3, #e0e0e0); /* Använd en mjuk gradient */
    margin: 0; /* Återställa marginaler för att undvika överflödiga utrymmen */
    padding: 0; /* Återställa fyllnad för att undvika överflödiga utrymmen */
    height: 100vh; /* Fylla hela fönstret */
    display: bottom; /* Gör innehållet centrerat vertikalt och horisontellt */
    justify-content: center;
    align-items: center;
  }


 